/** Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/** Include Tailwind base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Set default utility classes for HTML elements */
@layer components {
  body {
    @apply bg-dark-grey;
    @apply font-base;
    @apply font-normal;
    @apply text-white;
  }

  h1 {
    @apply text-2xl;
    @apply font-semibold;
    @apply text-green;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-xl;
    @apply font-semibold;
  }
}

/** Custom classes */
@layer utilities {
  .page-wrapper {
    padding: var(--padding-default);
  }

  .page-wrapper-header {
    padding: 0 var(--padding-default) var(--padding-default) var(--padding-default);
  }

  .button-primary {
    @apply bg-green;
    @apply text-dark-grey;
    @apply py-[6px];
    @apply px-4;
    @apply rounded-xl;
    @apply font-semibold;
    @apply w-fit;
  }

  .button-link {
    @apply text-green;
    @apply underline;
    text-underline-offset: var(--underline-offset);
  }
}

/** General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

img {
  width: 100%;
}

button:hover,
a:hover {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.error {
  color: var(--red);
  @apply font-semibold;
}

input {
  appearance: none;
  border-radius: var(--border-radius-input);
  -webkit-appearance: none;
  -webkit-border-radius: var(--border-radius-input);
  padding: 4px 8px;
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
}

input.error {
  border: 2px solid var(--red);
}

input:focus {
  outline: var(--green) auto 1px;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  outline: none;
  -webkit-text-fill-color: var(--dark-grey);
  -webkit-box-shadow: 0 0 0px 1000px var(--white-2) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Custom checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--white);
}

.container input:checked ~ .checkmark {
  background-color: var(--green);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--dark-grey);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul {
  list-style: none;
}
