:root {
  --light-grey: #2F363D;
  --dark-grey: #212529;
  --dark-grey-30: #2125294D;
  --dark-grey-80: #212529CC;
  --green: #b7e4c7;
  --white: #f1faee;
  --white-2: #fff;
  --red: #ea6b69;
  --bronze: #C29E7E;
  --silver: #C6C6C6;
  --gold: #F0D882;


  --padding-default: 32px;
  --border-radius-default: 6px;
  --underline-offset: 4px;
}
