:root {
  --light-grey: #2F363D;
  --dark-grey: #212529;
  --dark-grey-transparent: #2125294D;
  --green: #b7e4c7;
  --white: #f1faee;
  --white-2: #fff;
  --red: #ea6b69;


  --padding-default: 32px;
  --border-radius-input: 6px;
  --underline-offset: 4px;
}
